<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Support_Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Support_Desktop.Properties.Settings>
            <setting name="LicenseActivated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdvisorName" serializeAs="String">
                <value />
            </setting>
            <setting name="AdvisorExtension" serializeAs="String">
                <value>1001</value>
            </setting>
            <setting name="AdvisorPhotoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoFPSDelay" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="VideoQuality" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="VideoScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Extension" serializeAs="String">
                <value />
            </setting>
            <setting name="QualityIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UsedLicenses" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRunDate" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenseKey" serializeAs="String">
                <value />
            </setting>
            <setting name="test" serializeAs="String">
                <value />
            </setting>
            <setting name="EsPrimeraVez" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrialStartDate" serializeAs="String">
                <value />
            </setting>
        </Support_Desktop.Properties.Settings>
    </userSettings>
</configuration>